/**
 * @file
 * Page Background Styling
 *
 * The default layout method of Zen doesn't give themers equal-height columns.
 * However, equal-height columns are difficult to achieve and totally
 * unnecessary. Instead, use the Faux Columns method described in the following
 * ALA article:
 *   http://www.alistapart.com/articles/fauxcolumns/
 *
 * Palette from:
 *   http://www.colourlovers.com/palette/444487/Curiosity_Killed
 */


body {
    background: rgb(208,228,241);
}

#vojo-header {
    background: rgb(74,176,226);
    color: #ffffff;
    padding-bottom: 1em;
}

#vojo-header .section {
}

#vojo-main-wrapper {
    background: rgb(255,255,255);
    padding-top: 1em;
    padding-bottom: 1em;
}

#vojo-content {
    margin-bottom: 1em;
}

#vojo-sidebar {
    
}

#vojo-footer {
    padding-top: 1em;
    padding-bottom: 1em;
    background: rgb(74,176,226);
}

#vojo-footer .section {
}

#vojo-page-closure {
    padding-top: 1em;
    padding-bottom: 4em;
}