/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
}
a:hover {
  color: #2DAEE5;
}

#page-wrapper {
}

#page {
}
/*
 * The skip navigation link will be completely hidden until a user tabs to the
 * link. See http://www.webaim.org/techniques/skipnav/
 */
#skip-link a,
#skip-link a:visited {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #666;
  color: #fff;
}

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position: static;
  width: 100%;
  height: auto;
  padding: 2px 0 3px 0;
}
/*
 * Header
 */
#header {
}

#header .section {
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 2em;
  line-height: 1.3em;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */ {
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
}

#main {
}

/*
 * Content
 */
#content {
}

#content .section {
}

#mission /* The mission statement of the site (displayed on homepage) */ {
}

.region-content-top /* Wrapper for any blocks placed in the "content top" region */ {
}

#vojo-main-wrapper .breadcrumb /* The path to the current page in the form of a list of links */ {
  padding: 0; /* Undo system.css */
  margin-top: 0;
  border: none;
  background-color: transparent;
  background-image: none;
}

#block-menu-menu-vojo-social-links {
  float: right;
}
#block-menu-menu-vojo-social-links ul.menu li {
  list-style-type: none;
  list-style-image: none;
  margin-bottom: 5px;
}
#block-menu-menu-vojo-social-links ul.menu li a {
  padding-top: 5px;
  padding-bottom: 2px;
  display: inline-block;
}
#block-menu-menu-vojo-social-links ul.menu li#social-link-twitter a {
  padding-left: 30px;
  background: url(../images/social-icons-sprite-sm-vertical.png) no-repeat left -363px;
}
#block-menu-menu-vojo-social-links ul.menu li#social-link-twitter a:hover {
  background-position: left -389px;
}
#block-menu-menu-vojo-social-links ul.menu li#social-link-facebook a {
  padding-left: 30px;
  background: url(../images/social-icons-sprite-sm-vertical.png) no-repeat left -311px;
}
#block-menu-menu-vojo-social-links ul.menu li#social-link-facebook a:hover {
  background-position: left -337px;
}
#block-menu-menu-vojo-social-links ul.menu li#social-link-google a {
  padding-left: 30px;
  background: url(../images/social-icons-sprite-sm-vertical.png) no-repeat left -259px;
}
#block-menu-menu-vojo-social-links ul.menu li#social-link-google a:hover {
  background-position: left -284px;
}
#block-menu-menu-vojo-social-links ul.menu li#social-link-rss a {
  padding-left: 30px;
  background: url(../images/social-icons-sprite-sm-vertical.png) no-repeat left -208px;
}
#block-menu-menu-vojo-social-links ul.menu li#social-link-rss a:hover {
  background-position: left -233px;
}
#block-menu-menu-vojo-social-links ul.menu li#social-link-vimeo a {
  padding-left: 30px;
  background: url(../images/social-icons-sprite-sm-vertical.png) no-repeat left -105px;
}
#block-menu-menu-vojo-social-links ul.menu li#social-link-vimeo a:hover {
  background-position: left -130px;
}
#block-menu-menu-vojo-social-links ul.menu li#social-link-tumblr a {
  padding-left: 30px;
  background: url(../images/social-icons-sprite-sm-vertical.png) no-repeat left -467px;
}
#block-menu-menu-vojo-social-links ul.menu li#social-link-tumblr a:hover {
  background-position: left -492px;
}

h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */ {
  margin: 0;
}

tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.help /* Help text on a page */ {
  margin: 1em 0;
}

.more-help-link /* Link to more help */ {
  font-size: 0.85em;
  text-align: right;
}

#content-area /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
  margin: 1em 0;
  padding: 0;
}

ul.links.inline {
  margin: 0;
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

.pager /* A list of page numbers when more than 1 page of content is available */ {
  clear: both;
  margin: 1em 0;
  text-align: center;
}

.pager a,
.pager strong.pager-current /* Each page number in the pager list */ {
  padding: 0.5em;
}

.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ {
  margin: 1em 0;
}

.more-link /* Aggregator, blog, and forum more link */ {
  text-align: right; /* LTR */
  padding-right: 5px;
}

.region-content-bottom /* Wrapper for any blocks placed in the "content bottom" region */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

.region-sidebar-second .section {
}

/*
 * Footer
 */
#footer {
}

#footer .section {
}

#footer-message /* Wrapper for the footer message from Drupal's "Site information"
                   and for any blocks placed in the footer region */ {
}

.region-footer {
}

/*
 * Closure
 */
.region-page-closure /* Wrapper for any blocks placed in the closure region */ {
}

/*
 * Drupal boxes
 *
 * Wrapper for Comment form, Comment viewing options, Menu admin, and
 * Search results.
 */
.box /* Wrapper for box */ {
}

.box h2 /* Box title */ {
}

.box .content /* Box's content wrapper */ {
}

/*
 * Markup free clearing (See: http://www.positioniseverything.net/easyclearing.html )
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users. "!important" is
 * used to prevent unintentional overrides.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* -----------------------------------------------------------------------------
   Front page
   ----------------------------------------------------------------------------- */
/** Tagline **/
#vojo-tagline {
  font-size: 32px;
  float: left;
  width: 75%;
  padding-top: 10px;
  line-height: 30px;
}
/** Try now Button **/
.huge-button, a.huge-button:link, a.huge-button:visited {
  background-color: #ccc;
  padding: 10px;
  display: block;
  color: #fff;
  text-shadow: 1px 1px 3px #333;
  font-size: 26px;
  border-radius: 5px;
  text-align: center;
}
#vojo-trynow {
  width: 25%;
  float: left;
}
#vojo-trynow .huge-button {
}

/* -----------------------------------------------------------------------------
Slideshow
*/
#front-slideshow  {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
#front-slideshow ul  {
  margin: 0;
  padding: 0;  
}
#front-slideshow ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
#front-slideshow ul li.slide img {
  width: 100%;
}
#front-slideshow ul li.views-row-first {
}
#front-slideshow ul li.current-slide {
  z-index: 400;
  display: block;
}
#front-slideshow ul li .views-field-title {
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 100%;
  text-align: center;
}
#front-slideshow ul li .views-field-title h2 {
  font-size: 35px;
}
#front-slideshow ul li .views-field-title h2,
#front-slideshow ul li .views-field-title a {
  color: #fff;
  text-shadow: 10px 8px 8px #333;
}
#front-slideshow ul li .views-field-field-slideshow-caption-value {
  position: absolute;
  bottom: 30px;
  left: 0;
  font-size: 18px;
  color: #fff;
  text-align: center;
  text-shadow: 10px 8px 8px #333;
  width: 100%;
  text-align: center;
}
#front-slideshow ul li .views-field-field-slideshow-caption-value a {
  color: #fff;
}
#vojo-slide-prev,
#vojo-slide-next {
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  text-indent: -9999px;
  opacity: 0.4;
  bottom: 35%;
  z-index: 500;
}
#vojo-slide-prev {
  left: 0;
  background: url(../images/vojo/slideshow-arrows.png) no-repeat left top;
}
#vojo-slide-next {
  right: 0;
  background: url(../images/vojo/slideshow-arrows.png) no-repeat left -70px;
}
#vojo-slide-prev:hover,
#vojo-slide-next:hover {
  opacity: 1;
}
#front-logo {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
.front .panel-pane {
  text-align: center;
}
.front .pane-title {
  text-transform: uppercase;
  font-weight: normal;
  color: #999;
  font-size: 22px;
  line-height: 10px;
  text-align: center;
  position: relative;
  bottom: -20px;
  background-color: #fff;
  padding: 15px;
  display: inline-block;
}

.front .pane-content {
  text-align: left;
  padding-top: 30px;
}
.front .pane-front-trynow {
  margin-top: 30px;
}
.pane-front-trynow .pane-content {
  border-top: none;
  padding-top: 0;
}
.pane-key-features {
  clear: both;
}
/** Featured groups **/
.pane-vojo-og-panel-pane-1 li {
  float: left;
  width: 33%;
}
.front .view-id-vojo_og .group-logo-listing {
  float: none;
  width: auto;
  text-align: left;
  display: block;
}
.group-list {
  overflow: hidden;
}
/** Site features list **/
#vojo-site-features {
  padding: 0;
  margin-top: 20px;
}
#vojo-site-features li {
  width: 28%;
  margin-right: 5%;
  float: left;
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  height: 120px;
  min-width: 200px;
  margin-bottom: 20px;
}
#vojo-site-features li h3 {
  line-height: 20px;
}
#vojo-site-features li img {
  float: left;
  margin-right: 5px;
  margin-bottom: 40px;
}

/** Front recent stories **/
.front .pane-vojo-group-browse-stories-panel-pane-2 {

}
.front .pane-vojo-group-browse-stories-panel-pane-2 ul {
  padding: 30px 0 30px 6%;
  height: 480px;
  overflow: hidden;
}
.front .pane-vojo-group-browse-stories-panel-pane-2 ul li {
}

/* Featured group stories view */
.view-vojo-group-featured-stories li.slide {
  width: 85%;
  padding-left: 70px;
  list-style-type: none;
  margin: 0;
}
.view-vojo-group-featured-stories li.slide .views-field-field-image-fid {
  width: 42%;
}
.view-vojo-group-featured-stories .views-field-field-image-fid img {
  width: 100%;
}
.view-vojo-group-featured-stories #vojo-slide-prev {
  left: -10px;
  background: url(../images/vojo/slideshow-arrows.png) no-repeat left top;
}
.view-vojo-group-featured-stories #vojo-slide-next {
  right: -30px;
}