/**
 * @file
 * Panels Styling
 */

#block-vojo_og-vojo-group-details .item-list ul,
.pane-vojo-og-vojo-group-details .item-list ul {
  padding-left: 0;
}
#block-vojo_og-vojo-group-details .item-list ul li,
.pane-vojo-og-vojo-group-details .item-list ul li {
  border-bottom: #ddd solid 1px;
  padding: 5px;
  list-style-type: none;
  margin-left: 0;
}
#block-vojo_og-vojo-group-details .item-list ul li.last,
.pane-vojo-og-vojo-group-details .item-list ul li.last {
  border-bottom: none;
}

/* Vojo Right sidebar layout */
#vojo-content .panel-content-area {
  width: 770px;
  float: left;
  margin-left: 0;
}

/* Sharing links */

.panel-sidebar .pane-service-links-service-links {
  border-left: 0px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 1em;
}

.panel-sidebar .pane-service-links-service-links ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.panel-sidebar .pane-service-links-service-links ul li {
  display: inline-block;
  margin-right: 5px;
}
.panel-sidebar .pane-service-links-service-links ul li a img {
  vertical-align: middle;
}