/**
 * @file
 * Views Styling
 */

/** list of all groups **/

.view-id-vojo_og {
    margin-top: 1em;
}

.view-id-vojo_og ul {
    margin: 0em;
    padding: 0em;
    list-style: none;
}

.view-id-vojo_og ul li {
    margin: 0em;
    padding: 0.5em 0em;
    overflow: hidden;
}
.view-id-vojo_og .group-logo-listing {
    display: block;
    width: 150px;
    float: left;
    text-align: center;
    margin-right: 20px;
}
/** list of stories **/

.vojo-story-list ul {
    list-style: none;
    margin: 1em 0em;
    padding: 0em;
}
.vojo-story-list ul li {
    margin-bottom: 1em;
}

.vojo-story-list ul h2 {
    font-size: 1.2em;
}

.vojo-story-list ul li .links,
.vojo-story-list ul li .meta {
    font-size: 0.8em;
    color: #333333;
}

.vojo-story-list ul li .meta .terms {
    font-size: 0.6em;
    font-style: italic;
}

/** homepage list of all groups **/
.vojo-group-summary {
    margin-bottom: 1em;
}
.vojo-group-summary img {
    margin-right: 1em;
}